@model Rozvrh.Models.IConfig

@{ViewBag.Title = "- Admin";}

<script type="text/javascript">

    $(document).ready(function () {
        var errorFlag = false;
        var errorMessage =  '@ViewBag.ErrorMessage';
        if (errorMessage.length > 0 ){
            errorFlag = true;
        }

        $(".exButton").button();

        $("#dialog-error").dialog({
            autoOpen: errorFlag,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-reload").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-wrong").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialog-reset").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Ok": function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function resetClick() {
        $('#dialog-reset').dialog('open');
    }

    function saveAndReloadClick() {
        $('#dialog-reload').dialog('open'); 
    }
</script>

<div id="dialog-error" title="Chyba!">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Vyskytla se chyba: @ViewBag.ErrorMessage</p>
</div>

<div id="dialog-reload" title="Načítání">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Nastavení uloženo. Načítám databázi.</p>
</div>

<div id="dialog-wrong" title="Špatně">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Špatný formát data! Prosím oprav zvýrazněné pole.</p>
</div>

<div id="dialog-reset" title="Reset">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Hodnoty nastavení byly resetovány z uloženého nastavení.</p>
</div>

@using (Ajax.BeginForm("ConfigButtonAction", "Admin", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "leftSection" }))
{
<div id="FormContainer"> 
         <fieldset>
             <legend>Datové zdroje</legend>
             <div>@Html.Label("Cesta ke XML datovému souboru aktuálního rozvrhu")</div>
             <div>@Html.TextBox("MostRecentTimetableXMLFilePath", Model.MostRecentTimetableXMLFilePath)</div>

             <div>@Html.Label("Cesta k archivu XML datových souborů starých rozvrhů")</div>
             <div>@Html.TextBox("ArchivePath", Model.ArchivePath)</div>

             <div>@Html.Label("Cesta k souboru s uvítací zprávou (bude interpretováno jako HTML)")</div>
             <div>@Html.TextBox("WelcomeMessageFilePath", Model.WelcomeMessageFilePath)</div>
         </fieldset>
        
        <div id="configButtons">
            <input class="exButton"  onclick="return resetClick()" type="submit" name="submitButton" value="Zrušit" />

            <input class="btnSubmit exButton" onclick="return saveAndReloadClick()" type="submit" name="submitButton" value="Uložit a Restartovat" />
        </div>

</div> 
}