@model Rozvrh.Models.IConfig

@{ViewBag.Title = "- Admin Config";}

<script>

    function isDate(txtDate) {
        var currVal = txtDate;
        if (currVal == '')
            return false;

        //Declare Regex  
        var rxDatePattern = /^(\d{1,2})(.)(\d{1,2})(.)(\d{4})$/;
        var dtArray = currVal.match(rxDatePattern); // is format OK?

        if (dtArray == null)
            return false;

        //Checks for dd.mm.yyyy format.
        dtDay = dtArray[1];
        dtMonth = dtArray[3];
        dtYear = dtArray[5];

        if (dtMonth < 1 || dtMonth > 12)
            return false;
        else if (dtDay < 1 || dtDay > 31)
            return false;
        else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31)
            return false;
        else if (dtMonth == 2) {
            var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
            if (dtDay > 29 || (dtDay == 29 && !isleap))
                return false;
        }
        return true;
    }

    function isValidDate() {
        var inputs = document.getElementsByClassName("txtDate");
        for (var index = 0; index < inputs.length; ++index) {
            if (!isDate(inputs[index].value)) {
                inputs[index].focus();
                alert('Špatný formát data! Prosím oprav zvýrazněné pole.');
                return false;
            }
        }
        alert('Hodnoty uloženy.');
        return true;

    }

    function niceButton() {
        $(".exButton")
          .button();
    }

</script>

@using (Ajax.BeginForm("ConfigButtonAction", "Admin", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "FormContainer"}))
{
<div id="FormContainer"> 
         <fieldset>
             <legend>Datový zdroj</legend>
             <div>@Html.Label("Cesta ke XML datovému souboru")</div>
             <div>@Html.TextBox("XMLTimetableFilePathField", Model.XMLTimetableFilePath)</div>
         
             <div>@Html.Label("Opětovné načtení dat ze souboru")</div>
             <div><input class="btnSubmit exButton" onclick="return isValidDate()" type="submit" name="submitButton" value="Reload" /></div>
         </fieldset>
    
        <fieldset>
            <legend>Začátek a konec semestru</legend>
            <div>@Html.Label("Začátek semestru")</div>
            <div>@Html.TextBox("SemesterStartField", Model.SemesterStart, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>

            <div>@Html.Label("Konec semestru")</div>
            <div>@Html.TextBox("SemesterEndField", Model.SemesterEnd, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>            
        </fieldset>
        <fieldset>
            <legend>Zápatí rozvrhu</legend>
            <div>@Html.Label("Link na doplňující informace")</div>
            <div>@Html.TextBox("LinkToInfoField", Model.LinkToAdditionalInformation)</div>

            <div>@Html.Label("Datum buildu rozvrhu")</div>
            <div>@Html.TextBox("CreatedField", Model.Created, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>
        </fieldset>
        <fieldset>
            <legend>Anketa</legend>
            <div>@Html.Label("Prefix odkazu na předmět")</div>
            <div>@Html.TextBox("PrefixPoolLinkField", Model.PrefixPoolLink)</div>

            <div>@Html.Label("Sufix odkazu na předmět")</div>
            <div>@Html.TextBox("SufixPoolLinkField", Model.SufixPoolLink)</div>
        </fieldset>
        @* <fieldset>
            <legend>Logování</legend>
            <div>@Html.Label("Cesta k logu")</div>
           <div>@Html.TextBox("LogPathField", Model.PrefixPoolLink)</div>
        </fieldset>*@
        <div>
            <input class="exButton" type="submit" name="submitButton" value="Zrušit" />
            <input class="btnSubmit exButton" onclick="return isValidDate()" type="submit" name="submitButton" value="Uložit" />
        </div>

<script type="text/javascript">
        $(function () {
            $(".exButton")
              .button();
        });
</script>

</div> 
}