@model Rozvrh.Models.IConfig

@{ViewBag.Title = "- Admin Config";}

@using (Ajax.BeginForm("ConfigButtonAction", "Admin", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "FormContainer"}))
{
<div id="FormContainer"> 
         <fieldset>
             <legend>Datový zdroj</legend>
             <div>@Html.Label("Cesta ke XML datovému souboru")</div>
             <div>@Html.TextBox("XMLTimetableFilePathField", Model.XMLTimetableFilePath)</div>
         
             <div>@Html.Label("Opětovné načtení dat ze souboru")</div>
             <div><input class="btnSubmit exButton" onclick="return isValidDate()" type="submit" name="submitButton" value="Reload" /></div>
         </fieldset>
    
        <fieldset>
            <legend>Začátek a konec semestru</legend>
            <div>@Html.Label("Začátek semestru")</div>
            <div>@Html.TextBox("SemesterStartField", Model.SemesterStart, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>

            <div>@Html.Label("Konec semestru")</div>
            <div>@Html.TextBox("SemesterEndField", Model.SemesterEnd, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>            
        </fieldset>
        <fieldset>
            <legend>Zápatí rozvrhu</legend>
            <div>@Html.Label("Link na doplňující informace")</div>
            <div>@Html.TextBox("LinkToInfoField", Model.LinkToAdditionalInformation)</div>

            <div>@Html.Label("Datum buildu rozvrhu")</div>
            <div>@Html.TextBox("CreatedField", Model.Created, "{0:dd/MM/yyyy}", new { @class = "txtDate" })</div>
        </fieldset>
        <fieldset>
            <legend>Anketa</legend>
            <div>@Html.Label("Prefix odkazu na předmět")</div>
            <div>@Html.TextBox("PrefixPoolLinkField", Model.PrefixPoolLink)</div>

            <div>@Html.Label("Sufix odkazu na předmět")</div>
            <div>@Html.TextBox("SufixPoolLinkField", Model.SufixPoolLink)</div>
        </fieldset>
        @* <fieldset>
            <legend>Logování</legend>
            <div>@Html.Label("Cesta k logu")</div>
           <div>@Html.TextBox("LogPathField", Model.PrefixPoolLink)</div>
        </fieldset>*@
        <div>
            <input class="exButton" type="submit" name="submitButton" value="Zrušit" />
            <input class="btnSubmit exButton" onclick="return isValidDate()" type="submit" name="submitButton" value="Uložit" />
        </div>

<script type="text/javascript">
        $(function () {
            $(".exButton")
              .button();
        });
</script>

</div> 
}