@{
    var icalshort = "iCal použijte pro import rozvrhu do vašeho kalendáře.";
    var svgshort = "SVG použijte pokud chcete přehledný obrázek rozvrhu.";
    var xmlshort = "Xml slouží pro zpětný import do této aplikace.";
    }

<div class="exportLink">
    @Html.ActionLink("Exportuj rozvrh do iCal", "ExportToICal", "Home", new { id = "icalLink" })
    <div class="exportToolip" id="icalTooltip">@icalshort</div>
</div>

<div class="exportLink">
    @Html.ActionLink("Exportuj rozvrh do SVG", "ExportToSVG", "Home", new { id = "svgLink" })
    <div class="exportToolip" id="svgTooltip">@svgshort</div>
</div>

<div class="exportLink">
    @Html.ActionLink("Exportuj rozvrh do XML", "ExportToXML", "Home", new { id = "xmlLink" })
    <div class="exportToolip" id="xmlTooltip">@xmlshort</div>
</div>


<script>
    $(function () {
        $('#icalLink').mouseover(function () {
            $('#icalTooltip').html('iCalendar (iCal) je mezinárodní standard pro výměnu kalendářových dat. Lze ho jednoduše importovat do populárních aplikací jako je Apple Calendar, Google Calendar nebo Microsoft Outlook.');
            $('#icalTooltip').addClass("tooltipSelected");

        });
        $('#icalTooltip').mouseleave(function () {
            $('#icalTooltip').html('@icalshort');
            $('#icalTooltip').removeClass("tooltipSelected");
        });

        $('#svgLink').mouseover(function () {
            $('#svgTooltip').html('Scalable Vector Graphics (SVG) je vektorový obrázkový formát, podporovaný vetšinou moderních prohlížečů. Pro jeho konverzi do vámi oblibeného formátu (PDF,JPEG,PNG) můžete využít <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics#Online_SVG_converters" target="_blank">webové aplikace</a>.');
            $('#svgTooltip').addClass("tooltipSelected");

        });
        $('#svgTooltip').mouseleave(function () {
            $('#svgTooltip').html('@svgshort');
            $('#svgTooltip').removeClass("tooltipSelected");
        });

        $('#xmlLink').mouseover(function () {
            $('#xmlTooltip').html('Pokud víte, že budete rozvrh brzo měnit, využijte exportu do našeho xml formátu. Xml soubor si uložte na bezpečné místo, budete ho potřebovat na import do naší aplikace.');
            $('#xmlTooltip').addClass("tooltipSelected");

        });
        $('#xmlTooltip').mouseleave(function () {
            $('#xmlTooltip').html('@xmlshort');
            $('#xmlTooltip').removeClass("tooltipSelected");
        });

    });

</script>


