@model Rozvrh.Models.Model
@{
    ViewBag.Title = "";
}

@section right{
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Výběr</a></li>
            <li><a href="#tabs-2">Export</a></li>
            <li><a href="#tabs-3">Import</a></li>
            <li id="AboutTab"><a href="#tabs-4">O Aplikaci</a></li>
            <li id="TutorialTab"><a href="#tabs-5">Tutorial</a></li>
        </ul>
        <div id="tabs-1">@{Html.RenderPartial("Vyber");}</div>
        <div id="tabs-2">@{Html.RenderPartial("Export");}</div>
        <div id="tabs-3">@{Html.RenderPartial("Import");}</div>
        <div id="tabs-5">@{Html.RenderPartial("Tutorial");}</div>
        <div id="tabs-4">@{Html.RenderPartial("About");}</div>
    </div>
}

@section scripts{
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46792999-2', 'cvut.cz');
        ga('send', 'pageview');

        $(function () {
            $("#tabs").tabs();
        });

        $(document).ready(function () {
            var errorFlag = false;
            var errorMessage = '@Model.ImportErrorMessage';
            if (errorMessage.length > 0) {
                errorFlag = true;
            }
            $("#dialog-importError").dialog({
                autoOpen: errorFlag,
                resizable: false,
                modal: true,
                buttons: {
                    "Ok": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });

    </script>
}
<div id="dialog-importError" title="Chyba importu!">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Vyskytla se chyba: @Model.ImportErrorMessage</p>
</div>

<div id="Timetable">@Html.Partial("Rozvrh")</div>
<div id="List">
    <div id="welcomeMessage">@Model.WelcomeMessage</div>
    <img id="fjfiLogo" />
    <div id="lastUpdate">Poslední aktualizace databáze: @Model.CreatedDate</div>
    <iframe id="videoFrame" src="//www.youtube.com/embed/bqCZx-U13qg" frameborder="0" allowfullscreen></iframe>
    @Html.Partial("VyfiltrovaneLekce")
</div>
<br />

