@using System.Collections
@using System.Drawing
@using System.EnterpriseServices
@using System.Web.UI.WebControls
@using Rozvrh.Controllers
@using Rozvrh.Models
@using Rozvrh.Models.Timetable

@model Rozvrh.Models.Model

<script>

    $(document).ready(function () {

        $("button.edit").button({
            icons: { primary: "ui-icon-pencil" },
            text: false
        });
        $("button.delete").button({
            icons: { primary: "ui-icon-trash" },
            text: false
        });
        $(".border").mouseenter(function () { $(".edit", this).show(); $(".delete", this).show(); })
            .mouseleave(function () { $(".edit", this).hide(); $(".delete", this).hide(); });
        $("button").tooltip({ tooltipClass: "timetable-tooltip-styling", show: null, hide: null, position: { my: "right-5 center", at: "left center" } });

        $("#dialog-confirm").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                "Ano": function () {
                    $.post('@Url.Action("RemoveOne", "Home")', { uid: $(this).data("uid") }, function (data) {
                        $('#Timetable').html(data);
                        $("#dialog-confirm").dialog("close");
                    });
                },
                "Ne": function () {
                    $(this).dialog("close");
                }
            }
        });

        var lecture = $("#lecture"),
        lecturer = $("#lecturer"),
        room = $("#room"),
        department = $("#department"),
        hours = $("#hours"),
        minutes = $("#minutes"),
        duration = $("#duration"),
        period = $("#period"),
        allFields = $([]).add(lecture).add(lecturer).add(room).add(department).add(hours).add(minutes).add(duration).add(period),
        tips = $(".validateTips");

        function updateTips(t) {
            tips.text(t);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("Délka pole " + n + " musí být mezi " +
                  min + " a " + max + ".");
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp(o, regexp, n) {
            if (!(regexp.test(o.val()))) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        function checkValue(o, min, max, n) {
            if (!(o.val() >= min && o.val() <= max)) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }


        $("#dialog-form").dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Uložit změny": function () {
                    var bValid = true;
                    allFields.removeClass("ui-state-error");

                    bValid = bValid && checkLength(lecture, "předmět", 1, 20);
                    bValid = bValid && checkLength(lecturer, "vyučující", 1, 100);
                    bValid = bValid && checkLength(room, "místnost", 1, 50);
                    bValid = bValid && checkValue(hours, 7, 19, "Přípustný začátek je jen od 7 do 19 hodin.")
                    bValid = bValid && checkValue(minutes, 0, 59, "Přípustný začátek je jen od 0 do 59 minut.")
                    bValid = bValid && checkRegexp(duration, /^([1-9]{1})(\,[0-9])?$/, "Délka hodiny musí být celé nebo desetinné číslo od 1 do 9,9 s jedním desetinným číslem.");
                    //bValid = bValid && checkValue(duration, 0.1, 12, "Délka hodiny nemůže být kratší než 0,1 a delší než 12 hodin.")

                    if (bValid) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("EditTimetableField", "Home")',
                            data: "uid=" + $(this).data("uid") + "&lecture=" + $("#lecture").val() + "&lecturer=" + $("#lecturer").val() + "&room=" + $("#room").val() + "&day=" + $("#day").val()
                                     + "&department=" + $("#department").val() + "&hours=" + $("#hours").val() + "&minutes=" + $("#minutes").val() + "&duration=" + $("#duration").val() + "&period=" + $("#period").prop("checked"),
                            success: function (data) {
                                $('#Timetable').html(data);
                                $("#dialog-form").dialog("close");
                            }
                        });
                    }
                },
                "Storno": function () {
                    $(this).dialog("close");
                }
            },
            close: function () {
                allFields.val("").removeClass("ui-state-error");
            }
        });

        $('#Timetable').perfectScrollbar('destroy'); // for the case that there's already one
        $('#Timetable').perfectScrollbar();
    });

    function select(field) {
        if ($(field).hasClass("selected")) {
            $(field).removeClass("selected");
            $(field).prev().children(".edit").hide();
        }
        else {
            $(field).addClass("selected");
            $(field).prev().children(".edit").show();
        }
    }

    function removeField(uid) {
        $('#dialog-confirm').data("uid", uid)
            .dialog('open');
    }

    function edit(uid) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTimetableField", "Home")',
            data: "uid=" + uid,
            success: function (result) {
                $("#lecture").val(result.lecture_acr);
                $("#dialog-form #lecturer").val(result.lecturer);
                $("#dialog-form #room").val(result.classroom);
                $("#dialog-form #department").val(result.department_acr);
                $("#dialog-form #hours").val(result.time_hours);
                $("#dialog-form #minutes").val(result.time_minutes);
                $("#dialog-form #day").val(result.day);
                $("#dialog-form #duration").val(result.duration);
                $("#dialog-form #period").prop("checked", result.period == "Ano" ? true : false);
                $("#dialog-form").data("uid", uid).dialog("open");
            }
        });
    }
</script>


<div id="dialog-confirm" title="Odstranit vybraný předmět?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Opravdu chcete odstranit vybraný předmět z vašeho rozvrhu?</p>
</div>

<div id="dialog-form" title="Upravit předmět">
    <p class="validateTips">Všechna pole musí být vyplněna.</p>

    <form>
        <fieldset>
            <div>
            <label for="lecture">Předmět</label>
            <input type="text" name="lecture" id="lecture" class="text ui-widget-content ui-corner-all" />
            </div>
            <br />
            <div>
            <label for="lecturer">Vyučující</label>
            <input type="text" name="lecturer" id="lecturer" class="text ui-widget-content ui-corner-all" />
            </div>
            <br />
            <div>
            <label for="room">Místnost</label>
            <input type="text" name="room" id="room" class="text ui-widget-content ui-corner-all" />
            </div>
            <br />
            <div>
            <label for="department">Katedra</label>
            <select name="department" id="department" class="text ui-widget-content ui-corner-all">
                @foreach (var d in Model.Departments)
                {
                    <option id="@d.id">@d.acronym</option>
                }
            </select>
            </div>
            <br />
            <div>
            <label for="day">Den</label>
            <select name="day" id="day" class="text ui-widget-content ui-corner-all">
                @foreach (var d in Model.Days)
                {
                    <option id="@(d.id)">@(d.name)</option>
                }
            </select>
            </div>
            <br />
            <div>
            <label for="time"  style="float:left;">Začátek [hodin : minut]</label>
            <input type="text" name="hours" id="hours" class="text ui-widget-content ui-corner-all" style="float:left; width:10%;" /><span style="float:left">:</span>
            <input type="text" name="minutes" id="minutes" class="text ui-widget-content ui-corner-all" style="float:left; width:10%;"/>
            </div>
            <br style="clear:both;"/>
            <br />
            <div>
            <label for="duration">Délka [h] (od 1,0 do 9,9)</label>
            <input type="text" name="duration" id="duration" class="text ui-widget-content ui-corner-all" pattern="[0-9]*"   style="width:10%;" />
            </div>
            <br />
            <div>
            <label for="period" style="float:left;">Pravidelně</label>
            <input type="checkbox" name="period" id="period" class="text ui-widget-content ui-corner-all" />
            </div>
        </fieldset>
    </form>
</div>

<div class="content">
    <div id="backgroundTable">
        <div class="header">
            <div></div>
            <div>7:30</div>
            <div>8:30</div>
            <div>9:30</div>
            <div>10:30</div>
            <div>11:30</div>
            <div>12:30</div>
            <div>13:30</div>
            <div>14:30</div>
            <div>15:30</div>
            <div>16:30</div>
            <div>17:30</div>
            <div>18:30</div>
            <div>19:30</div>
        </div>
        @for (int i = 0; i < 13; i++)
        {
            <div class="vertical" style="left:@(51 + i * 50)px"></div>
        }
        <div class="begining"></div>


        @{
            int top = 39;

            foreach (var day in Model.Days)
            {
                int dayHeight = 50;
                var dayGroups = HomeController.getGroups(Model.CustomTimetableFields.Where(m => m.day == day.name).ToList());

            <div id="@day.id" class="horizontal">@day.name

                @foreach (var group in dayGroups)
                {
                    foreach (var field in group)
                    {
                        if (field is FakeTimetableField)
                        {
                            continue;
                        }
                        double dur = Convert.ToDouble(field.duration);
                        int width = (int) (dur * 50);
                        int left = Convert.ToInt32(75 + (Convert.ToDecimal(field.time_hours) - 7 + Convert.ToDecimal(field.time_minutes) / 60) * 50);
                        int height = 50;
                        int nameHeight = 31;
                        int fieldTop = top;
                        string color = int.Parse(field.color).ToString("X6");
                        if (group.Count >= 2)
                        {
                            height = 25;
                            nameHeight = 10;
                            if (group.Count * 25 > dayHeight)
                            {
                                dayHeight = group.Count * 25;
                            }
                            fieldTop = top + group.IndexOf(field) * 25;
                        }
                    <div class="background" style="width:@(width - 4)px; height:@(nameHeight)px; background:#@color; left:@(left + 2)px; top:@(fieldTop + 2)px;"></div>
                    <div class="name @(height < 50 ? "small" : "")" style="width:@(width - 4)px; height:@(nameHeight)px; left:@(left + 2)px;top:@(fieldTop + 2)px;">
                        <div style="color:@(field.period.ToLower() == "ne" ? "red" : "#000")">@field.lecture_acr</div>
                    </div>
                    <div class="detailsBackground" style="width:@(width - 4)px; height:@(height - nameHeight - 4)px; left:@(left + 2)px;top:@(fieldTop + 2 + nameHeight)px;"></div>
                    <div class="details@(height < 50 ? "Small" : "")" style="width:@(width - 6)px; height:@(height - nameHeight - 6)px; left:@(left + 2)px;top:@(fieldTop + 2 + nameHeight)px;">@field.lecturer
                        <div>@field.classroom</div>
                    </div>
                    <div class="border" style="width:@(width - 4)px; height:@(height - 4)px; position:absolute; left:@(left)px; top:@(fieldTop)px;border-color:#@color;">
                        <button class="edit" onclick="edit(@(field.UniqueID));">Upravit</button>
                        <button class="delete" onclick="removeField(@(field.UniqueID));">Odstranit</button>
                    </div>
                    }
                }
                @{ top += dayHeight; }
                <script>
                    $(document).ready(function () {
                        $('#@(day.id)').css('line-height', @(dayHeight - 1) + "px").height(@(dayHeight - 1));
                    });
                </script>
            </div>

            }
        }
    </div>

</div>
