@model MvcApplication1.Models.Model

@using (Ajax.BeginForm("Filter", "Home", new AjaxOptions { 
    HttpMethod = "Get", UpdateTargetId = "Fltr", InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace }))
{

<div class="box">
    @Html.Label("rocnik","Ročník")
    @Html.DropDownList("rocnik",new SelectList(Model.Years),new {size ="6", onchange = "$(this.form).submit()"})
</div>
<div class="box">
    @Html.Label("zamereni","Zaměření")
    @Html.DropDownList("zamereni",new SelectList(Model.Courses),new {size ="6",onchange = "$(this.form).submit()"})
</div>
<div class="boxPosledni">
    @Html.Label("kruh","Kruh")
    @Html.DropDownList("kruh",new SelectList(Model.Groups),new {size ="6",onchange = "$(this.form).submit()"})
</div><div class="clear"></div><br/>
<div class="box">
    @Html.Label("katedra","Katedra")
    @Html.DropDownList("katedra",new SelectList(Model.Departments),new {size ="6",onchange = "$(this.form).submit()"})
</div>
<div class="box">
    @Html.Label("vyucujici","Vyučující")
    @Html.DropDownList("vyucujici",new SelectList(Model.Lecturers),new {size ="6",onchange = "$(this.form).submit()"})
</div>
<div class="boxPosledni">
    @Html.Label("mistnost","Místnost")
    @Html.DropDownList("mistnost",new SelectList(Model.Classrooms),new {size ="6",onchange = "$(this.form).submit()"})
</div><div class="clear"></div>
}<br/>
<div id="Fltr"></div><br/>
@Ajax.ActionLink("Vybrat vše","Show",new AjaxOptions{ InsertionMode = InsertionMode.Replace,UpdateTargetId = "leftSection"})
