@model Rozvrh.Models.Model
<script>
    $(document).ready(function () {
        $("#Tabulka").tablesorter();
    }
);
</script>


<table id="Tabulka" class="tablesorter">
    <thead>
        <tr>
            <th>Předmět</th>
            <th>Katedra</th>
            <th>Vyučující</th>
            <th>Den</th>
            <th>Čas</th>
            <th>Délka (hod)</th>
            <th>Místnost</th>
            <th>Pravidelně</th>
            <th>Vybrat</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.FiltredTimetableFields != null)
    {
        foreach (var item in Model.FiltredTimetableFields)
        {
            <tr>
                <td>
                    <a href="@Html.DisplayTextFor(modelItem => item.course_href)" title="@Html.DisplayTextFor(modelItem => item.lecture_name)" target="_blank">@Html.DisplayTextFor(modelItem => item.lecture_acr)</a>
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.department_acr)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.lecturer)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.day)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.duration)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.classroom)
                </td>
                <td>
                    @Html.DisplayTextFor(modelItem => item.period)
                </td>
                <td>
                    @{
                        <input name="Selector" type="checkbox" checked="checked" />
                    }
                </td>
            </tr>
        }
    }
</tbody>
</table>
