@model Rozvrh.Models.Model
<table id="Tabulka">
    <tr>
        <th>Předmět</th>
        <th>Katedra</th>
        <th>Vyučující</th>
        <th>Den</th>
        <th>Čas</th>
        <th>Délka (hod)</th>
        <th>Místnost</th>
        <th>Pravidelně</th>
    </tr>
    @if (Model.TimetableFields != null)
    {
        foreach (var item in Model.TimetableFields)
        {
        <tr>
            <td>
                <a href="@Html.DisplayTextFor(modelItem => item.course_href)" title="@Html.DisplayTextFor(modelItem => item.lecture_name)" target="_blank">@Html.DisplayTextFor(modelItem => item.lecture_acr)</a>
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.department_acr)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.lecturer)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.day)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.classroom)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.period)
            </td>
        </tr>
        }
    }
</table>
