@model Rozvrh.Models.Model
<table id="Tabulka">
    <tr>
        <th>Předmět</th>
        <th>Katedra</th>
        <th>Vyučující</th>
        <th>Den</th>
        <th>Čas</th>
        <th>Délka (hod)</th>
        <th>Místnost</th>
        <th>Perioda</th>
    </tr>
    @if (Model.TimetableFields != null)
    {
        foreach (var item in Model.TimetableFields)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lecture_acr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department_acr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lecturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_hours):@Html.DisplayFor(modelItem => item.time_minutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.period)
            </td>
        </tr>
        }
    }
</table>
