@model Rozvrh.Models.Model
<script>
    $(document).ready(function () {
        $("#Tabulka").tablesorter();
        $("#AddSome").button().click(function () { addSome(); });
        $("#AddAll").button().click(function () { addAll(); });
        $("#RemoveAll").button().click(function () { removeAll(); });

        $(".courseAcronym").tooltip({ show: null, hide: null, position: { my: "left+10", at: "right top" } });
        $("td").tooltip({ show: null, hide: null, position: { my: "bottom", at: "top" } });
    });

    function addAll() {
        var allVals = [];
        $('#Tabulka input:checkbox').each(function () {
            allVals.push($(this).val());
        });
        $.post('@Url.Action("AddAll", "Home")', { uids: allVals }, function (data) {
            $('#Timetable').html(data);
        });
    }
    
    function addSome() {
        var checkedVals = [];
        $('#Tabulka :checked').each(function () {
            checkedVals.push($(this).val());
        });
        $.post('@Url.Action("AddSome", "Home")', { uids: checkedVals }, function (data) {
            $('#Timetable').html(data);
        });
    }

    function removeAll() {
        $.post('@Url.Action("RemoveAll", "Home")', { uids: null }, function (data) {
            $('#Timetable').html(data);
        });
    }

    $(function () {
        

        $('#Tabulka').fixedHeaderTable({
            footer: false,
            cloneHeadToFoot: false,
            fixedColumn: false
        });
        
        $('.fht-tbody').perfectScrollbar({
            suppressScrollX: true,
            wheelSpeed: 30
        });
    });
</script>


<div id="AddButtons">
    <span id="AddSome">Vykreslit označené</span> <span id="AddAll">Vykreslit všechny</span> <span id="RemoveAll">Odstranit vše z rozvrhu</span>
</div>
<div class="clear"></div>

    <table id="Tabulka" class="tablesorter">
        <thead>
            <tr>
                <th>Vybrat</th>
                <th>Předmět</th>
                <th>Katedra</th>
                <th>Vyučující</th>
                <th>Den</th>
                <th>Čas</th>
                <th>Délka (hod)</th>
                <th>Místnost</th>
                <th>Pravidelně</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.FiltredTimetableFields != null)
            {
                
                foreach (var item in Model.FiltredTimetableFields)
                {
                <tr>
                    <td>
                        @{
                            <input name="Selector" type="checkbox" value="@item.UniqueID" />
                        }
                    </td>

                    <td>
                        <a class="courseAcronym" href="@Html.DisplayTextFor(modelItem => item.course_href)" title="@Html.DisplayTextFor(modelItem => item.lecture_name)" target="_blank">@Html.DisplayTextFor(modelItem => item.lecture_acr)</a>
                    </td>
                    <td title="@Html.DisplayTextFor(modelItem => item.department)">
                        @Html.DisplayTextFor(modelItem => item.department_acr)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.lecturer)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.day)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.time)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.classroom)
                    </td>
                    <td>
                        @Html.DisplayTextFor(modelItem => item.period)
                    </td>
                
                </tr>
                }
            }
        </tbody>
    </table>