<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
        <meta charset="utf-8" />
        <title>MůjRozvrh FJFI @ViewBag.Title</title> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="previewimage" href="~/Content/fjfiLogo.gif">
        <meta name="viewport" content="width=device-width" />  
        <meta property="og:image" content= "http://mujrozvrhfjfi.aspone.cz/Content/fjfiLogo.gif" />      
        <meta property="og:title" content="Aplikace MůjRozvrh FJFI">
        <meta property="og:description" content="Přehledně zobrazuje rozvrh a pomáhá studentům vybrat si předměty před zápisem.">
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")       
        @RenderSection("scripts", required: false)
        @Styles.Render("~/Content/css")

</head>
    <body>
        <div id="BodyWrapper">
            <div id="Main">
                @RenderSection("left", required: false)
                @RenderSection("right", required: false)
                @RenderSection("bottom", required: false)
                @RenderBody()
            </div>
        </div>
    </body>
</html>
