<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8" />
        <title>Rozvrh @ViewBag.Title</title> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />        
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")       
        @RenderSection("scripts", required: false)
        @Styles.Render("~/Content/css")

</head>
    <body>
        <div id="Main">
                @RenderSection("featured", required: false)
            <section id="rightSection">
                @RenderSection("right", required: false)
            </section>
            <section id="leftSection">
                @RenderBody()
            </section>
        </div>
   @* <footer>
        <div id="innerFooter">
            &copy; David Blatský, Václav Honzík, Richard Salač, Tomáš Smola a Oldřich Štika, 2013<br/>Vytvořeno jako projekt v rámci předmětu 18PVS, pod vedením Jana Doubka.
        </div>
    </footer>*@
    </body>
</html>
